<nav>
  <% nav = [['Pokedex', 'pokemons', 'pokedex.png', 'red'], ['Tainers', 'dressers', 'teams.png', 'yellow']] %>
  <% nav.each do |i| %>
    <%= link_to i[1], class: "navbar-div #{i[3]}" do %>
      <h1 class='link'><%= i[0] %></h1>
      <%= image_tag i[2], class: "navbar-img" %>
    <% end %>
  <% end %>
</nav>
