nav {
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.navbar-div {
  width: 450px;
  height: 250px;
  text-decoration: none;
  border-radius: 20px;
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navbar-div:hover {
  background-color: white;
}

.navbar-img {
  height: 200px;
}

.red {
  background-color: #ED3D37;
}
.yellow {
  background-color: #C8A958;
}
