/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 0;
}

.link {
  text-decoration: none;
  color: black;
}

textarea:focus, input:focus{
  outline: none;
}

.fire {
  background-color: #EF8030;
}

.fire:hover {
  background-color: white;
}

.grass {
  background-color: #78C84F;
}

.grass:hover {
  background-color: white;
}

.water {
  background-color: #6790F0;
}

.water:hover {
  background-color: white;
}

.electric {
  background-color: #F8CF30;
}

.electric:hover {
  background-color: white;
}

.poison {
  background-color: #A0409F;
}

.poison:hover {
  background-color: white;
}

.flying {
  background-color: #D6CAF8;
}

.flying:hover {
  background-color: white;
}

.bug {
  background-color: #A8B81F;
}

.bug:hover {
  background-color: white;
}

.normal {
  background-color: #A8A877;
}

.normal:hover {
  background-color: white;
}

.ground {
  background-color: #E0C068;
}

.ground:hover {
  background-color: white;
}

.fairy {
  background-color: #EE99AC;
}

.fighting:hover {
  background-color: white;
}

.fighting {
  background-color: #C03028;
}

.psychic {
  background-color: #F85787;
}

.psychic:hover {
  background-color: white;
}

.rock {
  background-color: #B8A038;
}

.rock:hover {
  background-color: white;
}

.steel {
  background-color: #B8B8D0;
}

.steel:hover {
  background-color: white;
}

.ice {
  background-color: #98D8D8;
}

.ice:hover {
  background-color: white;
}

.ghost {
  background-color: #705898;
}

.ghost:hover {
  background-color: white;
}

.dragon {
  background-color: #7038F8;
}

.dragon:hover {
  background-color: white;
}


@import "components/_navbar.css";
@import "components/_searchbar.css";
@import "_pokedex.css";
@import "_pokemon.css";
@import "dressers/_index.css";
@import "dressers/_show.css";
