<%= render 'components/navbar' %>
<div id="pokemons">
  <% @dressers.each do |dresser| %>
    <div class='pokemons-container'>
      <h3><%= link_to dresser.name.capitalize, dresser_path(dresser), :class => 'link' %></h3>
      <img src='<%= dresser.url %>', class='img-pokemon'>
    </div>
  <% end %>
</div>
