<div class='full-screen'>
  <div style='padding: 40px;'>
    <h1><%= @dresser.name.capitalize %></h1>
  </div>
  <div style='width: 100vw; display: flex; flex-direction: column; align-items: center; gap: 10px;'>
    <p>Height: 0 cm</p>
    <p>Weight: kg</p>
    <img src='<%= @dresser.url %>', style='width: 300px; padding: 5vh;', id='img'>
  </div>
</div>
<div>
</div>
